.cards-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between cards */
    margin: auto;
    margin-top: 40px; /* Space between Carousel and Cards */
}   

.custom-card {
    width: 18rem;
    margin:auto;
    border-radius: 15px; /* Reduce for better visibility */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional for better styling */

}

